body {
    height: 487px;
    width: 853px;
    // background-image: url("https://sun9-west.userapi.com/sun9-47/s/v1/ig2/ZMVMliiXNHCi5qLsf1RYMoaCXq9xDNIDi1E6Ww5dYluwRI22vSu7MDYf0FH0OpE7aydJydmQwzlKiZZz-9VJfHYT.jpg?size=2560x1463&quality=95&type=album");
    background-repeat: no-repeat;
    background-size: 853px 487px;
  }
button {
    margin: 10px;
    background-color: #D3D3D3;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid grey;
    &:hover {
        filter: brightness(50%)
    }
    
}
.maincontainer {
    display: flex;
}
.formcontainer {
    width: 400px;
}
.CDbuttons {
    display: flex;
    

    
}